*{
    margin: 0;
    padding: 0;
}
.navbar{
    padding-bottom: 0px;
    background-image: url('../img/nav.jpg') !important;
    background: #4e281f;
    border-bottom: 0 !important;
}
.nav li{
    text-align: center;
    font-size: 18px;
    height: 50px;
}
.nav li a{
    color: #FFF !important;
    height: 50px;
    background: rgba(0,0,0,0.3);
}
.nav li a:hover{
    color: #FFF !important;
    height: 50px;
    background-color: rgba(0,111,9,0.6) !important;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF !important;
    height: 50px;
}
.banner{
    margin-top: 50px;
    width: 100% !important;
    /*height: 50% !important;*/
}
.bannInfo{
    padding: 0 !important;
    margin-left: 0 !important;
    text-align: center;
    height: 100% !important;
}
.bannInfo p{
    font-family: 'Bodoni';
    font-size: 1.5em;
}
.bannCaro{
    background: #850845 !important;
    padding: 0 auto !important;
    margin: 0 auto !important;
}
.BannImg{
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 80% !important;
}
.content{
    height: 100%;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
}
.map{
    height: 400px !important;
    width: 100% !important;
    border: 0;
    margin: 0px !important;
}

.mapMargin{
    padding: 0 !important;
    margin: 0 !important;
}

h1, h2, nav{
    font-family: 'Bodoni';
}
@font-face {
    font-family: 'Bodoni';
    src: url('../fonts/BodoniXT.ttf') format('truetype');
}
.navbar-header a{
    color: #FFF !important;
    background: rgba(0,0,0,0.3)
}
.navbar-default .navbar-header > a:hover, 
.navbar-default .navbar-header > a:focus {
    color: #FFF !important;
    background-color: rgba(0,111,9,0.6) !important;
}
.org ul{
    padding-left: 50px;
}
.org p{
    padding-left: 50px;
}
.org h2{
    padding-left: 25px;
}
table th, table td{
    padding: 10px 25px;
}
table th{
    border-bottom: solid 3px #000;
}
.vert{
    border-right: solid 3px #000;
}
.footer p{
    text-align: center;
    color: #000;
}
.footer{
    background: #EDDCA6;
    background-image: url(../img/bannerBG.jpg) !important;
    border-top: solid 2px #000;
    padding-top: 15px;
}
.homeUl{
    padding-left: 50px;
}
.homeUl li{
    font-size: 1.5em;
}
.contBg{
    background-image: url(../img/content.jpg) !important;
}
.col-md-4 h1, .col-md-4 h2{
    font-size: 3em;
}
.regPic{
    padding: 15px !important;
}